.sign-out-text {
    font-size: 16px;
    font-family: WorkSans-SemiBold;
    color: var(--color-darkText);
  }
  ion-toolbar {
    --background: #f2f2f2;
}

ion-toolbar {
    background: #f2f2f2 !important;
}

.toolbar{
  contain: inherit;
  overflow: visible;
}