.padding-bottom-80
{
  padding-bottom:80px;
}
.header{
  background: #1A4B9C;
  height: 150px;
  .title{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 800;
  }
}
.toast-success{
  --background: var(--ion-color-success);
  --border-radius: 5px;
  --border-style: solid;
  --button-color:#FFDD00;
  --color:#fff;
}
.toast-danger{
  --background: var(--ion-color-danger);
  --border-radius: 5px;
  --border-style: solid;
  --button-color:#FFDD00;
  --color:#fff;
}
.toast-warning{
  --background: var(--ion-color-warning);
  --border-radius: 5px;
  --border-style: solid;
  --button-color:#FFDD00;
  --color:#fff;
}
 
 
.top-card{
  background: hsla(0,0%,100%,1);
  padding: 0px 15px 10px 15px;
  border-radius: 10px;
  margin: auto;
  margin-top: -85px;
  margin-bottom: 10px;
  width: 95%;
  box-shadow: 0 12px 20px -5px #333;
  .title{
    padding-top: 15px;
    // padding-left: 10px;
    font-size: medium;
    font-weight: bold;
    color: var(--ion-color-vibrant);
  }
  .priority{
    font-size: small;
    font-weight: bold;
    padding: 0;
  }
  .row{
    padding: 0 10px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    margin: 15px 1px;
  }
  .row-border{
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
  }
  .acc-head{
    padding: auto;
    font-weight: bold;
  }
  .acc-subject{
    padding: 15px;
    background: var(--ion-color-light);
    border-radius: 10px;
  }
}
.first-card{
  width: 95%;
  margin: auto;
  margin-top: -85px;
}
.second-card{
  background: hsla(0,0%,100%,1);
  width: 95%;
  padding: 0px 15px 10px 15px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 0 8px 10px -5px #333;
}
.error {
  padding: 0;
  font-size: small;
  margin: auto;
  color: var(--ion-color-danger);
}
// Controls
.control-label{
  font-size: small;
  color: darkgrey;
}
.row-border{
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
}
ion-label{
  font-family: 'Open Sans' !important;
  font-size: 13px;
}