<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-title></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>Contact Us</ion-list-header>
      <ion-item>
        <ion-icon name="call" item-left></ion-icon>
        +91 9962290830
        <ion-icon ></ion-icon>
        +91 444893746
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        info@gsautomation.in
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>