ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('../../../../assets/home/Blurred-Background-for-forpass.jpg') 0 0/100% 100% no-repeat;
}
.active{
  // --ion-text-color: var(--ion-color-vibrant);
  // background: var(--ion-color-vibrant-contrast);
  font-weight: bold;
 
}
.active-parent{
  font-style: bold;
}
.sub-item:hover{
  --ion-text-color: var(--ion-color-vibrant);
  // background-color: darkgrey;
}
