.active{
 
    font-weight: bold;
   
  }
  .active-parent{
    font-style: bold;
  }
  .sub-item:hover{
    --ion-text-color: var(--ion-color-vibrant);
  }
  ion-label{
    font-family: 'Open Sans' !important;
  }
  ion-item{
    --background: var(--ion-color-vibrant);
    --ion-text-color: var(--ion-color-vibrant-contrast);
  }
  ion-icon{
    --background: var(--ion-color-vibrant);
    --ion-text-color: var(--ion-color-vibrant-contrast);
    color: var(--ion-color-vibrant-contrast);
  }
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--ion-color-vibrant);
    --background: var(--ion-color-vibrant);
    color: var(--ion-color-vibrant-contrast);
    padding-bottom: var(--ion-safe-area-bottom);
  }
  .list-md{
    background: var(--ion-color-vibrant);
    --background: var(--ion-color-vibrant);
  }
  .menu-header {
  padding: 1rem;
  padding-top: calc(var(--ion-safe-area-top) + 1.5rem);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-left: 0.5rem;
  }
  .logo img {
  width: 80%;
  }
  .welcome{
    margin: auto;
  }
  .row-welcome{
    margin-bottom: 0;
    padding-top: 20px;
    padding: 0;
    padding-bottom: 11px;
    vertical-align: middle;
    margin-top: 15px;
    ion-button{
      margin: 0;
      margin-top: -12px;;
    }
  }
  .logo img {
    width: 80%;
  }
  .nav {
      display: flex;
      flex-grow: 5;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: scroll;
  }
  .sub-item{
    --background: var(--ion-color-vibrant);
    --ion-text-color: var(--ion-color-vibrant-contrast);
    padding: 0.05rem 0.5rem 0 0.5rem;
    margin-left: 11px;
    margin-top: 0;
    margin-right: 8px;
  }
  .nav-item {
      padding: 0.05rem 0.5rem 0 0.5rem;
  }
  .nav-item span.divider {
      padding-top: 0.75rem;
      width: 100%;
      display: block;
      border-bottom: solid 1px rgba(34, 34, 34, 0.18);
  }
  .icon {
      margin-right: 0.5rem;
  }
  .nav-item:hover, .nav-item:active {
      background: rgba(var(34, 34, 34), 0.1);
  }
  .footer {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  .footer-nav {
      padding: 0.5rem;
  }
  .footer-nav ul {
    width: 100%;
    padding: 0;
    text-align: center;
    li {
      padding: 0;
      list-style: none;
    }
  }
  .footer-social {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-size: 2rem;
  }
  .footer-app-version {
      padding: 0.3rem;
      text-align: center;
      font-size: 0.8rem;
  }
  .foot-nav-item{
    color: var(--ion-color-primary-contrast);
    background: var(--ion-color-vibrant);
  }