ion-header {
    background: var(--ion-color-primary);
  }
img {
    margin-top: 3%;
    border: 0px solid var(--ion-color-secondary);
  }
  ion-toolbar {
    --background: #f2f2f2;
}

ion-toolbar {
    background: #f2f2f2 !important;
}

.toolbar{
  contain: inherit;
  overflow: visible;
}
ion-content {
  --background: url('././../../../assets/home/Blur-Background.jpg') 0 0/100% 100% no-repeat;
}
