<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
      <ion-title>Reset Your Password</ion-title>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <form [formGroup]="changepassword" >
        <ion-row class="row">
         <ion-col size="12">
            <ion-label class="control-label">Current Password: <span class="error">*</span></ion-label><br>
            <ion-input type="password" class="primary-input" formControlName="login_id"></ion-input>
            <div class="error-messages">
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="control-label">New Password: <span class="error">*</span></ion-label><br>
            <ion-input type="password" class="primary-input" formControlName="login_id1"></ion-input>
            <div class="error-messages">
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="control-label">Confirm Password: <span class="error">*</span></ion-label><br>
            <ion-input type="password" class="primary-input" formControlName="login_id2"></ion-input>
            <div class="error-messages">
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="submitForm()" [disabled]="" color="vibrant">Submit</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="resetForm()" color="medium">cancel</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card>
</ion-content>